<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-ZParse</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <h1>E-ZParse</h1>
  <form method="POST" enctype=multipart/form-data>
    <label for="tags">Enter Tags (separated by commas)</label>
    <textarea name="tags" id="tags" cols="30" rows="5"></textarea>
    <label for="pdf">Invoice PDF (1 MB limit)</label>
    <input type="file" id="pdf" name="pdf">
    <button type="submit">Submit</button>
  </form>
</body>

</html>